<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS assignments</title>
    <link rel="stylesheet" href="../../global_style.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="grid-wrapper">
      <header class="center-content-vertical">
        <a class="header-title" href="../../index.html">
          Week two assignments</a
        >
        <p class="header-topic">CSS</p>
      </header>
      <aside>
        <nav>
          <ul>
            <li>
              <p class="sidebar-title">Components</p>
            </li>
            <li>
              <a href="../card/card.html" rel="noopener noreferrer">Card</a>
            </li>
            <li>
              <a href="../chips/chips.html" rel="noopener noreferrer">Chips</a>
            </li>
            <li>
              <a href="../drawer/drawer.html" rel="noopener noreferrer"
                >Drawer</a
              >
            </li>
            <li>
              <a href="../header/header.html" rel="noopener noreferrer"
                >Header</a
              >
            </li>
            <li>
              <a href="../badge/badge.html" rel="noopener noreferrer">Badge</a>
            </li>
            <li>
              <a href="../snackbar/snackbar.html" rel="noopener noreferrer"
                >Snackbar</a
              >
            </li>
            <li>
              <a href="../dialogs/dialogs.html" rel="noopener noreferrer"
                >Dialogs</a
              >
            </li>
            <li>
              <a class="active-link">Tabs</a>
            </li>
          </ul>
        </nav>
      </aside>
      <main>
        <div class="wrapper">
          <!-- Fixed Tabs -->
          <section class="tab-section">
            <p class="tab-title">Fixed Tabs</p>
            <div class="card-container">
              <div class="tab-container">
                <button id="tab-1" class="tab tab-selected">Tab 1</button>
                <button id="tab-2" class="tab">Tab 2</button>
                <button id="tab-3" class="tab">Tab 3</button>
              </div>
              <div id="content-1" class="content-container content-active">
                <img
                  class="content-img"
                  src="https://picsum.photos/300/350"
                  alt="random image"
                />
              </div>
              <div id="content-2" class="content-container">
                <img
                  class="content-img"
                  src="https://picsum.photos/300/351"
                  alt="random image"
                />
              </div>
              <div id="content-3" class="content-container">
                <img
                  class="content-img"
                  src="https://picsum.photos/300/352"
                  alt="random image"
                />
              </div>
            </div>
          </section>

          <!-- Scrollable tabs -->
          <section class="tab-section">
            <p class="tab-title">Scrollable Tabs</p>
            <div class="card-container">
              <div class="tab-container">
                <button id="scroll-tab-1" class="tab-scroll tab-selected">
                  Tab 1
                </button>
                <button id="scroll-tab-2" class="tab-scroll">Tab 2</button>
                <button id="scroll-tab-3" class="tab-scroll">Tab 3</button>
                <button id="scroll-tab-4" class="tab-scroll">Tab 4</button>
                <button id="scroll-tab-5" class="tab-scroll">Tab 5</button>
                <button id="scroll-tab-6" class="tab-scroll">Tab 6</button>
              </div>
              <div id="content-1" class="content-container content-active">
                <img
                  class="content-img"
                  src="https://picsum.photos/300/350"
                  alt="random image"
                />
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
    <script src="tabs.js"></script>
  </body>
</html>
