/* import */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* Generic */

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  cursor: default;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-text-color: #353749;
  --secondary-text-color: white;
  --highlight-text-color: #24a19c;
  --dark-text-color: #1c1d25;
  --light-text-color: #515366;
}

/* Container */

.grid-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 70px 1fr;
  height: 100vh;
}

aside {
  width: 220px;
  padding-top: 2rem;
  box-shadow: 1px 5px 5px 2px rgb(238, 235, 235);
}

main {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Elements */

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-weight: bold;
  box-shadow: 0px 2px 10px 2px rgb(238, 235, 235);
  padding: 1rem 2rem;
}

li {
  font-size: 1.6rem;
  padding: 1.5rem;
  padding-left: 3rem;
}

.img-flexbox {
  width: 150px;
  height: 164px;
  margin-top: 5rem;
}

.btn-start {
  padding: 1rem 2rem;
  border: 2px solid var(--primary-text-color);
  background-color: white;
  border-radius: 5px;
  margin-top: 5rem;
  font-weight: bold;
  color: var(--dark-text-color);
  font-size: 1.2rem;
}

.btn-start:hover {
  background-color: var(--highlight-text-color);
  color: var(--secondary-text-color);
}

/* Typography */

.header-title {
  font-size: 2.4rem;
  color: var(--primary-text-color);
}

.topic-title {
  margin-top: 5rem;
}

.header-topic {
  margin-left: auto;
  font-size: 2rem;
  color: var(--primary-text-color);
}

.sidebar-title {
  font-weight: bold;
  font-size: 2rem;
  color: var(--primary-text-color);
}

/* links */

a {
  color: var(--light-text-color);
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}

a:hover {
  color: var(--highlight-text-color);
}

.active-link {
  color: var(--highlight-text-color);
}

/* Utils */

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content-vertical {
  display: flex;
  align-items: center;
}

.center-content-horizontal {
  display: flex;
  justify-content: center;
}

.mg-top-2x {
  margin-top: 2rem;
}
.mg-top-5x {
  margin-top: 5rem;
}
.mg-top-7x {
  margin-top: 7rem;
}
