<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS assignments</title>
    <link rel="stylesheet" href="../../global_style.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="grid-wrapper">
      <header class="center-content-vertical">
        <a class="header-title"> Week two assignments</a>
        <p class="header-topic">CSS</p>
      </header>
      <aside>
        <nav>
          <ul>
            <li>
              <p class="sidebar-title">Components</p>
            </li>
            <li>
              <a>Card</a>
            </li>
            <li>
              <a href="components/card/chips.html" rel="noopener noreferrer"
                >Chips</a
              >
            </li>
            <li>
              <a href="components/card/drawer.html" rel="noopener noreferrer"
                >Drawer</a
              >
            </li>
            <li>
              <a href="components/card/header.html" rel="noopener noreferrer"
                >Header</a
              >
            </li>
            <li>
              <a href="components/card/badge.html" rel="noopener noreferrer"
                >Badge</a
              >
            </li>
            <li>
              <a href="components/card/snackbar.html" rel="noopener noreferrer"
                >Snackbar</a
              >
            </li>
            <li>
              <a href="components/card/dialogs.html" rel="noopener noreferrer"
                >Dialogs</a
              >
            </li>
            <li>
              <a href="components/card/tabs.html" rel="noopener noreferrer"
                >Tabs</a
              >
            </li>
          </ul>
        </nav>
      </aside>
      <main>
        <h1>Card</h1>
      </main>
    </div>
  </body>
</html>
