<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS assignments</title>
    <link rel="stylesheet" href="../../global_style.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="grid-wrapper">
      <header class="center-content-vertical">
        <a class="header-title" href="../../index.html">
          Week two assignments</a
        >
        <p class="header-topic">CSS</p>
      </header>
      <aside>
        <nav>
          <ul>
            <li>
              <p class="sidebar-title">Components</p>
            </li>
            <li>
              <a>Card</a>
            </li>
            <li>
              <a href="../chips/chips.html" rel="noopener noreferrer">Chips</a>
            </li>
            <li>
              <a href="../drawer/drawer.html" rel="noopener noreferrer"
                >Drawer</a
              >
            </li>
            <li>
              <a href="../header/header.html" rel="noopener noreferrer"
                >Header</a
              >
            </li>
            <li>
              <a href="../badge/badge.html" rel="noopener noreferrer">Badge</a>
            </li>
            <li>
              <a href="../snackbar/snackbar.html" rel="noopener noreferrer"
                >Snackbar</a
              >
            </li>
            <li>
              <a href="../dialogs/dialogs.html" rel="noopener noreferrer"
                >Dialogs</a
              >
            </li>
            <li>
              <a href="../tabs/tabs.html" rel="noopener noreferrer">Tabs</a>
            </li>
          </ul>
        </nav>
      </aside>
      <main>
        <div class="card-wrapper">
          <!-- Basic Card -->
          <div class="card">
            <div class="card-img">
              <img src="../../assets/beach.jpg" alt="card image" />
            </div>
            <div class="card-content">
              <p class="card-title base-text-style">Basic Variant</p>
              <p class="card-sub-title base-text-style">Card</p>
              <p class="card-description">
                Cards contain content and actions about a single subject.
              </p>
            </div>
            <div class="card-btn-container">
              <div class="btn-primary-container">
                <button class="hover-effect card-btn-primary base-text-style">
                  READ
                </button>
                <button
                  class="hover-effect card-btn-primary base-text-style mg-left-2"
                >
                  BOOKMARK
                </button>
              </div>
              <div class="btn-secondary-container mg-left-2">
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="far fa-heart fa-lg"></i>
                </span>
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="fas fa-share-alt fa-lg"></i>
                </span>
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="fas fa-ellipsis-v fa-lg"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- Basic w/ Text over Media -->

          <div class="card">
            <div class="card-img">
              <img src="../../assets/beach.jpg" alt="card image" />
            </div>
            <div class="card-content">
              <p class="card-title base-text-style title-over-img">
                Basic with text over media
              </p>
              <p class="card-sub-title base-text-style sub-title-over-img">
                Card
              </p>
              <p class="card-description">
                Cards contain content and actions about a single subject.
              </p>
            </div>
            <div class="card-btn-container">
              <div class="btn-primary-container">
                <button class="hover-effect card-btn-primary base-text-style">
                  READ
                </button>
                <button
                  class="hover-effect card-btn-primary base-text-style mg-left-2"
                >
                  BOOKMARK
                </button>
              </div>
              <div class="btn-secondary-container mg-left-2">
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="far fa-heart fa-lg"></i>
                </span>
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="fas fa-share-alt fa-lg"></i>
                </span>
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="fas fa-ellipsis-v fa-lg"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- Basic Card w header -->

          <div class="card card-w-header">
            <div class="mg-top-7">
              <img
                class="no-border-radius"
                src="../../assets/beach.jpg"
                alt="card image"
              />
            </div>
            <div class="card-content-header">
              <p class="card-title base-text-style title-header">
                Basic card with header
              </p>
              <p class="card-sub-title base-text-style sub-title-header">
                Card
              </p>
              <p class="card-description">
                Cards contain content and actions about a single subject.
              </p>
            </div>
            <div class="card-btn-container">
              <div class="btn-primary-container">
                <button class="hover-effect card-btn-primary base-text-style">
                  READ
                </button>
                <button
                  class="hover-effect card-btn-primary base-text-style mg-left-2"
                >
                  BOOKMARK
                </button>
              </div>
              <div class="btn-secondary-container mg-left-2">
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="far fa-heart fa-lg"></i>
                </span>
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="fas fa-share-alt fa-lg"></i>
                </span>
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="fas fa-ellipsis-v fa-lg"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- Basic w/ only buttons -->
          <div class="card">
            <div class="card-img">
              <img src="../../assets/beach.jpg" alt="card image" />
            </div>
            <div class="card-content">
              <p class="card-title base-text-style">Basic Variant</p>
              <p class="card-sub-title base-text-style">Card</p>
              <p class="card-description">
                Cards contain content and actions about a single subject.
              </p>
            </div>
            <div class="card-btn-container">
              <div class="btn-primary-container">
                <button class="hover-effect card-btn-primary base-text-style">
                  READ
                </button>
                <button
                  class="hover-effect card-btn-primary base-text-style mg-left-2"
                >
                  BOOKMARK
                </button>
              </div>
              <div class="btn-secondary-container mg-left-2 hide-content">
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="far fa-heart fa-lg"></i>
                </span>
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="fas fa-share-alt fa-lg"></i>
                </span>
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="fas fa-ellipsis-v fa-lg"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- Basic w/ only icons -->
          <div class="card">
            <div class="card-img">
              <img src="../../assets/beach.jpg" alt="card image" />
            </div>
            <div class="card-content">
              <p class="card-title base-text-style">Basic Variant</p>
              <p class="card-sub-title base-text-style">Card</p>
              <p class="card-description">
                Cards contain content and actions about a single subject.
              </p>
            </div>
            <div class="card-btn-container">
              <div class="btn-primary-container hide-content">
                <button class="hover-effect card-btn-primary base-text-style">
                  READ
                </button>
                <button
                  class="hover-effect card-btn-primary base-text-style mg-left-2"
                >
                  BOOKMARK
                </button>
              </div>
              <div class="btn-secondary-container mg-left-2">
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="far fa-heart fa-lg"></i>
                </span>
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="fas fa-share-alt fa-lg"></i>
                </span>
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="fas fa-ellipsis-v fa-lg"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- Horizontal Image and text card -->

          <div class="card card-horizontal">
            <div>
              <img
                class="card-img-horizontal"
                src="../../assets/beach.jpg"
                alt="card image"
              />
            </div>
            <div class="card-content grow-content">
              <p class="card-title base-text-style">Basic Variant</p>
              <p class="card-sub-title base-text-style">Card</p>
              <p class="card-description hide-container">
                Cards contain content and actions about a single subject.
              </p>
            </div>
            <div class="card-btn-container grow-content">
              <div class="btn-primary-container">
                <button class="hover-effect card-btn-primary base-text-style">
                  READ
                </button>
                <button
                  class="hover-effect card-btn-primary base-text-style mg-left-2"
                >
                  BOOKMARK
                </button>
              </div>
              <div class="btn-secondary-container mg-left-2">
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="far fa-heart fa-lg"></i>
                </span>
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="fas fa-share-alt fa-lg"></i>
                </span>
                <span class="hover-effect card-btn-secondary center-content">
                  <i class="fas fa-ellipsis-v fa-lg"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
