<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS assignments</title>
    <link rel="stylesheet" href="../../global_style.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="grid-wrapper">
      <header class="center-content-vertical">
        <a class="header-title" href="../../index.html">
          Week two assignments</a
        >
        <p class="header-topic">CSS</p>
      </header>
      <aside>
        <nav>
          <ul>
            <li>
              <p class="sidebar-title">Components</p>
            </li>
            <li>
              <a>Card</a>
            </li>
            <li>
              <a href="components/card/chips.html" rel="noopener noreferrer"
                >Chips</a
              >
            </li>
            <li>
              <a href="components/card/drawer.html" rel="noopener noreferrer"
                >Drawer</a
              >
            </li>
            <li>
              <a href="components/card/header.html" rel="noopener noreferrer"
                >Header</a
              >
            </li>
            <li>
              <a href="components/card/badge.html" rel="noopener noreferrer"
                >Badge</a
              >
            </li>
            <li>
              <a href="components/card/snackbar.html" rel="noopener noreferrer"
                >Snackbar</a
              >
            </li>
            <li>
              <a href="components/card/dialogs.html" rel="noopener noreferrer"
                >Dialogs</a
              >
            </li>
            <li>
              <a href="components/card/tabs.html" rel="noopener noreferrer"
                >Tabs</a
              >
            </li>
          </ul>
        </nav>
      </aside>
      <main>
        <div class="card">
          <div class="card-img">
            <img src="https://picsum.photos/350/200" alt="card image" />
          </div>
          <div class="card-content">
            <p class="card-title base-text-style">This is the title</p>
            <p class="card-sub-title base-text-style">Subtitle</p>
            <p class="card-description">
              This is the description of this card which is suppose to be long
              enough.
            </p>
          </div>
          <div class="card-btn-container">
            <div class="btn-primary-container">
              <button class="card-btn-primary base-text-style">READ</button>
              <button class="card-btn-primary base-text-style mg-left-2">
                BOOKMARK
              </button>
            </div>
            <div class="btn-secondary-container mg-left-2">
              <i class="far fa-heart fa-lg"></i>
              <i class="fas fa-share-alt fa-lg"></i>
              <i class="fas fa-ellipsis-v fa-lg"></i>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
