/* Generic */
:root {
  --primary-btn-color: #1572a1;
  --primary-btn-bg-color: white;
  --secondary-btn-bg-color: rgb(224, 221, 221);
}
button {
  border: none;
  background-color: var(--primary-btn-bg-color);
  padding: 5px 10px;
}

/**** Basic card styles ****/

/* Container */
.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  box-shadow: 1px 2px 5px 2px rgb(201, 199, 199);
  width: 32rem;
  border-radius: 5px;
  margin: 1rem;
}

.card-content {
  padding: 1.5rem;
  position: relative;
}

.card-btn-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.btn-secondary-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* element */

img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 32rem;
  height: 20rem;
}

/* typography */

.card-title {
  font-size: 2rem;
  color: var(--dark-text-color);
}

.card-sub-title {
  font-size: 1.5rem;
  color: var(--light-text-color);
}

.card-description {
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--light-text-color);
  margin-top: 2rem;
}

/* buttons */

.card-btn-primary {
  color: var(--primary-btn-color);
}

.card-btn-secondary {
  padding: 1rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

/* utils */

.base-text-style {
  font-weight: bold;
}

.mg-left-2 {
  margin-left: 1rem;
}

.hover-effect:hover {
  background-color: var(--secondary-btn-bg-color);
}

/**** Basic card w/ Text over Media  ****/

/* Container */

.title-over-img {
  position: absolute;
  top: -6rem;
  color: var(--secondary-text-color);
}
.sub-title-over-img {
  position: absolute;
  top: -3rem;
  color: var(--secondary-text-color);
}

.card-basic-w-text {
  height: 35rem;
}

/**** Basic card w/ header ****/

/* Container */

.card-w-header {
  position: relative;
}

.card-content-header {
  padding: 1.5rem;
  position: static;
}

/* Typography */

.title-header {
  position: absolute;
  top: 1rem;
  color: var(--primary-text-color);
}
.sub-title-header {
  position: absolute;
  top: 4rem;
  color: var(--primary-text-color);
}

/* Utils */
.mg-top-7 {
  margin-top: 7rem;
}

.no-border-radius {
  border-radius: 0;
}

/**** Basic card w/ only buttons ****/

/* Utils */
.hide-content {
  visibility: hidden;
}

/***** Horizontal Image and text card  *****/

/* Container */

.card-horizontal {
  display: flex;
  flex-wrap: wrap;
  height: 15rem;
}

.card-img-horizontal {
  width: 10rem;
  height: 10rem;
}

/* Utils */
.hide-container {
  display: none;
}

.grow-content {
  flex-grow: 1;
}
