/* Generic */

:root {
  --primary-header-color: #655d8a;
  --secondary-header-color: #807b99;
}

/* Permanent Drawer */
/* Container */

.drawer-permanent {
  width: 100%;
  height: 55rem;
  border: 2px solid gray;
  border-radius: 5px;
  position: relative;
  display: flex;
}

.sidebar {
  padding-top: 0;
  box-shadow: none;
  width: 25rem;
  overflow: auto;
  background-color: var(--secondary-text-color);
}

.main-content {
  padding: 0;
  height: 100%;
  width: 50%;
  overflow: auto;
  flex-grow: 1;
}

.sidebar-header {
  box-shadow: none;
}

/* Element */

.drawer-item {
  display: flex;
  padding: 1rem 1rem;
  margin: 1rem;
  border-radius: 5px;
}

.drawer-item-title {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Typography */

.content-header {
  box-shadow: none;
  background-color: var(--primary-header-color);
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-title-dr {
  color: var(--secondary-text-color);
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  font-weight: normal;
}

.content {
  font-size: 1.8rem;
  padding: 1rem;
}

.sidebar-title {
  font-size: 1.8rem;
  margin-top: 5px;
}

.sidebar-sub-title {
  font-size: 1.5rem;
  color: var(--light-text-color);
  font-weight: normal;
}

/* Utils */

.dr-item-gray {
  color: rgb(90, 87, 87);
}

.dr-item-white {
  color: var(--secondary-text-color);
}

.solid-light {
  border-top: 1px solid rgb(232, 230, 230);
}

.mg-top-5x {
  margin-top: 5rem;
}

/* Dismissible Drawer */

/* Container */

.menu-icon-container {
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon-container:hover {
  background-color: var(--secondary-header-color);
}

/* Utils */

.hide-sidebar {
  margin-left: -25rem;
  visibility: hidden;
}

.show-sidebar {
  margin-left: 0;
  visibility: visible;
}

/* Modal drawer */

.modal-menu {
  position: absolute;
  visibility: hidden;
  /* overflow: auto; */
}

.hide-modal-menu {
  margin-left: -25rem;
  visibility: hidden;
}

.show-modal-menu {
  margin-left: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(44, 43, 43, 0.5);
  visibility: visible;
}

.modal-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
