<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS assignments</title>
    <link rel="stylesheet" href="../../global_style.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="grid-wrapper">
      <header class="center-content-vertical">
        <a class="header-title" href="../../index.html">
          Week two assignments</a
        >
        <p class="header-topic">CSS</p>
      </header>
      <aside>
        <nav>
          <ul>
            <li>
              <p class="sidebar-title">Components</p>
            </li>
            <li>
              <a href="../card/card.html" rel="noopener noreferrer">Card</a>
            </li>
            <li>
              <a href="../chips/chips.html" rel="noopener noreferrer">Chips</a>
            </li>
            <li>
              <a href="../drawer/drawer.html" rel="noopener noreferrer"
                >Drawer</a
              >
            </li>
            <li>
              <a href="../header/header.html" rel="noopener noreferrer"
                >Header</a
              >
            </li>
            <li>
              <a class="active-link">Badge</a>
            </li>
            <li>
              <a href="../snackbar/snackbar.html" rel="noopener noreferrer"
                >Snackbar</a
              >
            </li>
            <li>
              <a href="../dialogs/dialogs.html" rel="noopener noreferrer"
                >Dialogs</a
              >
            </li>
            <li>
              <a href="../tabs/tabs.html" rel="noopener noreferrer">Tabs</a>
            </li>
          </ul>
        </nav>
      </aside>
      <main>
        <div class="container">
          <p class="badge-container plain-text">
            Text with a badge
            <span class="badge">4</span>
          </p>
          <p class="badge-container plain-text mg-top-2x">
            Text with large badge
            <span class="badge bd-lg">1</span>
          </p>
          <p class="plain-text mg-top-2x">
            Button with a badge on the left
            <button class="badge-container btn-sm">
              Action
              <span class="badge bd-left bd-warning">8</span>
            </button>
          </p>
          <p class="plain-text mg-top-2x">
            Button toggles badge visibility
            <button id="btn-hide" class="badge-container btn-sm">
              Hide
              <span id="badge-icon" class="badge bd-sm">7</span>
            </button>
          </p>
          <p class="plain-text mg-top-2x">
            Icon with a badge
            <i class="badge-container fas fa-home">
              <span class="badge bd-sm bd-danger">15</span>
            </i>
          </p>
        </div>
      </main>
    </div>
    <script src="badge.js"></script>
  </body>
</html>
