<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS assignments</title>
    <link rel="stylesheet" href="../../global_style.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="grid-wrapper">
      <header class="center-content-vertical">
        <a class="header-title" href="../../index.html">
          Week two assignments</a
        >
        <p class="header-topic">CSS</p>
      </header>
      <aside>
        <nav>
          <ul>
            <li>
              <p class="sidebar-title">Components</p>
            </li>
            <li>
              <a href="../card/card.html" rel="noopener noreferrer">Card</a>
            </li>
            <li>
              <a href="../chips/chips.html" rel="noopener noreferrer">Chips</a>
            </li>
            <li>
              <a href="../drawer/drawer.html" rel="noopener noreferrer"
                >Drawer</a
              >
            </li>
            <li>
              <a href="../header/header.html" rel="noopener noreferrer"
                >Header</a
              >
            </li>
            <li>
              <a href="../badge/badge.html" rel="noopener noreferrer">Badge</a>
            </li>
            <li>
              <a class="active-link">Snackbar</a>
            </li>
            <li>
              <a href="../dialogs/dialogs.html" rel="noopener noreferrer"
                >Dialogs</a
              >
            </li>
            <li>
              <a href="../tabs/tabs.html" rel="noopener noreferrer">Tabs</a>
            </li>
          </ul>
        </nav>
      </aside>
      <main>Snackbar coming soon</main>
    </div>
  </body>
</html>
